{% load static %}
<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="{% static 'images/home/simge.png' %}" alt="" /></a>
						</div>
						<div class="btn-group pull-right">



						</div>
					</div>

                    <!-- Account -->
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
                            {% if user.id is not None %}



                            <ul class="nav navbar-nav">
                                <li><img src=""></li>
                                <li><a href="#">{{ user.first_name }}</a></li>
								<li><a href="/user/"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="/user/shopcart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="/logout/"><i class="fa fa-lock"></i>Log out</a></li>
                                </ul>
                                  {% else %}
                                 <ul class="nav navbar-nav">

								<li><a href="/login/"><i class="fa fa-lock"></i>Login</a></li>
                                 <li><a href="/signup/"><i class="fa fa-user"></i>Sign Up</a></li>
							</ul>
                             {% endif %}
						</div>
					</div>


                    <!-- /Account -->
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">

								<li><a href="/" class="">Anasayfa</a></li>
                                 <li><a href="/ilanlar/0">İlanlar</a></li>
                                <li><a href="/hakkimizda">Hakkımızda</a></li>
								<li><a href="/referanslar">Referanslar</a></li>
								<li><a href="/iletisim">İletişim</a></li>

							</ul>
						</div>
					</div>
				<div class="col-sm-3">
						 <div class="header-search clearfix">
                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <button style="width:30px ;
                                            height:30px;
                                            background-color: #8fd19e;
                                            border:0px solid #fff;border-radius: 3px;"
                                    class="search-icon" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input id ="query" name="query" type="text" placeholder="Anahtar Kelime">
                        </form>
                             <script>

										  $(function() {
											$("#query").autocomplete({
											  source: "/search_auto/",
											  select: function (event, ui) { //item selected
												AutoCompleteSelectHandler(event, ui)
											  },
											  minLength: 2,
											});
										  });

										  function AutoCompleteSelectHandler(event, ui)
										  {
											var selectedObj = ui.item;
										  }

										</script>
                    </div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
{% if messages %}
                                 {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}