{% extends "homebase.html" %}

{% load static %}

{% block title %}{{ categorydata.title }} Evler{% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}
<{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}


    <section>
        <div class="col-sm-9 padding-right">

            <div class="features_items"><!--features_items-->
                <h2 class="title text-center">Kiralık Evler</h2>



						{% for rs in property %}
                        <div class="col-sm-4">

							<div class="product-image-wrapper">
								<div>
										<div class="productinfo text-center">
											<img src="{{ rs.image.url }}" alt="" />
                                            <h2>{{rs.title}}</h2>
                                            <h4>{{rs.description}}</h4>
											<h2 class="title text-center">Fiyat:{{ rs.price }}₺</h2>
											<p><h4 class="title text-center">m²:{{ rs.square_metre}}
                                             <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-home"></i>Kirala</a>
                                        </h4>
										</div>

								</div>
							</div>


						</div>
                        {% endfor %}

                        </div>
                        <div class="choose">

                        </div>
                    </div>
                </div>
            </div><!--features_items-->
        </div>
    </section>

{% endblock %}