{% extends 'homebase.html' %}

{% block title %} İletişim - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }}   {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}


      <section id="form"><!--form-->
	<div class="container">
			<div class="row">
              <div class="col-md-4">
                  <div class="billing-detail">

                      <div class="section-title">
                          <h3 class="title">İletişim Formu</h3>

                      </div>

                  <form action="" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" value="SEND FORM">
                  </form>
                  </div>
              </div>

    <div class="col-md-8">
        <div class="section-title">
            <h3 class="title">İletişim Bilgilerimiz</h3>
        </div>
        {{ setting.contact | safe }}
    </div>
    </div>
   </div>

{% endblock %}
