{% extends "homebase.html" %}

{% load static %}

{% block title %}{{ categorydata.title }} Evler{% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}


    <section>
        <div class="col-sm-9 padding-right">

            <div class="features_items"><!--features_items-->
                <h2 class="title text-center">Kiralık</h2>


                {% for rs in propertys %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-propertys">
									<div class="productinfo text-center">
										<a href="/property/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt=""> </a>
										<h2><a href="/property/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                            <h4><a href="/property/{{ rs.id }}/{{ rs.slug }}">{{rs.description}}</a></h4>
											<h2 class="title text-center">Fiyat:{{ rs.price }}₺</h2>
                                             <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-home"></i>Kirala</a>

                                    </h4>
                                    </div>
                                </div>
								<div class="choose">

								</div>
							</div>
						</div>

                  {% endfor %}















					</div><!--features_items-->
     		</div>
			</div>

	</section>

{% endblock %}