{% extends "homebase.html" %}
{% load static %}

{% block title %} Özellikler - {{ property.title }} {% endblock %}
{% block keywords %} {{ property.keywords }} {% endblock %}
{% block description %} {{ property.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block content %}

    <section>
    <div class="container">
			<div class="row">

			<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->

						<div class="col-sm-5">
							<div class="view-product">
                               <h4><a href="/category/{{property.category.id}}/{{property.category.slug}}">{{property.category}}</a></h4>


                                <img src="{{ property.image.url }}" alt="" style="width:345px;height:235px;"/>


							</div>
							<div id="slider-carousel" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->

 <!-- Controls -->

							</div>

						</div>

						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{ property.title }}</h2>
								<p>{{ property.description }}</p>
                                <p>{{ property.address }}</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>Fiyat:{{ property.price }}₺</span>
									<label>Star:</label>
									<input type="text" value="{{ property.rate }}" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Kirala
									</button>
								</span>
								<h2><b>Room:</b>{{ property.room }}</h2>
								<h2><b>Floor:</b>{{ property.floor }}</h2>
								<h2><b>m²:</b>{{ property.square_metre }}</h2>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->


						</div>
					</div><!--/product-details-->

                    <div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Ürün Galerisi</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">

								<div class="item active">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
                                                    {% for rs in images %}
													<img src="{{ rs.image.url }}" height="90px" width="70px" alt="" />
                                                     {% endfor %}

												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													{% for rs in images %}
													<img src="{{ rs.image.url }}" height="90px" width="70px" alt="" />
                                                     {% endfor %}
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													{% for rs in images %}
													<img src="{{ rs.image.url }}" height="90px" width="70px" alt="" />
                                                     {% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->


    					<div class="socials-share">
						<a href=""><img src="{% static 'images/blog/socials.png' %}" alt=""></a>
					</div><!--/socials-share-->



					<div class="media commnets">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static 'images/blog/man-one.jpg' %}" alt="">
						</a>
                         {% for rs in comments%}
						<div class="media-body">
							<h4 class="media-heading">{{ rs.user.first_name }}</h4>
							<p>{{ rs.comment }}</p>
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">Other Posts</a>
							</div>
						</div>
                        {% endfor %}

					</div><!--Comments-->

                	<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>{{message.tags}}</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
									</ul>

                    <div class="replay-box">
						<div class="row">
							<div class="col-sm-4">
								<h2>Leave a replay</h2>
                                {% if messages %}
                                 {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
								<form action="/property/addcomment/{{ property.id }}" method="post">

									<div class="blank-arrow">
										<label>Your Name</label>
									</div>
									<span>*</span>
                                    {% csrf_token %}
									<input type="text" name="subject" placeholder="write your name...">
									<div class="blank-arrow">
										<label>Email Address</label>
									</div>
									<span>*</span>
									<input type="email" placeholder="your email address...">


							</div>
							<div class="col-sm-8">
								<div class="text-area">
									<div class="blank-arrow">
										<label>Your Comment</label>
									</div>
									<span>*</span>
									<textarea name="comment" rows="11" placeholder="Mesajinizi Giriniz"></textarea>
                                    {% if user.id is not None %}
                                    <button type="submit" class="btn btn-primary" href="">post comment</button>
                                     {% else %}
                                         <button type="submit" class="btn btn-primary" href="">comment for login</button>
                                      {% endif %}
                                </form>
								</div>
							</div>
						</div>
					</div><!--/Repaly Box-->














			</div>
		</div>

                </div>
        </div>
        </div><!--/category-tab-->





				</div>
			</div>
		</div>
	</section>





{% endblock %}