 {% load static %}

<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div id="slider-carousel" class="carousel slide" data-ride="carousel">

						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
                         {% for rs in sliderdata %}
                            {% if forloop.counter == 1 %}
							<div class="item active">
                            {% else %}
                                <div class="item">
                            {% endif %}
								<div class="col-sm-6">
									<h1>{{rs.title}}</h1>
									<h2>{{rs.description}}</h2>
									<p>Kalite, Güven, Konfor</p>
									<button type="button" class="btn btn-default get">rent now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{rs.image.url}}" class="girl img-responsive" alt="" />

								</div>

                            </div>
                        {% endfor %}
						    </div>
                        </div>



						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>


				</div>
			</div>
		</div>
	</section><!--/slider-->
