{% extends "homebase.html" %}

{% block title %}Change Password{% endblock %}
{% block keywords %} {{setting.description}} {% endblock %}
{% block description %} {{setting.keywords}} {% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">{% endblock %}


{% block content %}
<!-- BREADCRUMBS AREA START -->
<div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs">
                    <h2 class="breadcrumbs-title">Change Password</h2>
                    <ul class="breadcrumbs-list">
                        <li><a href="/">Anasayfa</a></li>
                        <li>Change Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS AREA END -->


<!-- Start page content -->
<section id="page-content" class="page-wrapper">


    <!-- CONTACT AREA START -->
    <div class="contact-area pt-115 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="row">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" roles="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form class="wn__checkout__form" method="post">
                            {% csrf_token %}

                            {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{field}}
                                {% if field.help_text %}
                                <small style="color:grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                            <p style="">{{error}}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}

                            <br>
                            <button class="btn btn-danger" type="submit">Update</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT AREA END -->

</section>
<!-- End page content -->


{% endblock %}