{% extends "homebase.html" %}

{% block title %}User Update{% endblock %}
{% block keywords %} {{setting.description}} {% endblock %}
{% block description %} {{setting.keywords}} {% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">{% endblock %}


{% block content %}
<!-- BREADCRUMBS AREA START -->
<div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs">
                    <h2 class="breadcrumbs-title">User Update</h2>
                    <ul class="breadcrumbs-list">
                        <li><a href="/">Anasayfa</a></li>
                        <li>User Update</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS AREA END -->


<!-- Start page content -->
<section id="page-content" class="page-wrapper">


    <!-- CONTACT AREA START -->
    <div class="contact-area pt-115 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="row">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" roles="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div>
                                <img src="{{ user.userprofile.image.url }}"
                                     style="height:150px; border=radius:45px">
                            </div>
                        <form class="wn__checkout__form" method="POST"  enctype="multipart/form-data">
                            {% csrf_token %}

                            <fieldset class="form-group">
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT AREA END -->

</section>
<!-- End page content -->


{% endblock %}