{% extends "homebase.html" %}

{% block title %}Orders{% endblock %}
{% block keywords %} {{setting.description}} {% endblock %}
{% block description %} {{setting.keywords}} {% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">{% endblock %}


{% block content %}
<!-- BREADCRUMBS AREA START -->
<div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs">
                    <h2 class="breadcrumbs-title">User Paneli</h2>
                    <ul class="breadcrumbs-list">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS AREA END -->


<!-- Start page content -->
<section id="page-content" class="page-wrapper">


    <!-- CONTACT AREA START -->
    <div class="contact-area pt-115 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="row">
                         <table class="table">
                        <tr>
                            <th class="text-left">Property</th>
                            <th class="text-left">Ay</th>
                            <th class="text-left">Price</th>
                            <th class="text-left">Amount</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Date</th>

                        </tr>
                        {% for rs in orders %}
                        <tr>
                            <td class="text-left">
                                <a href="/property/{{rs.urun_id}}/{{ rs.urun.slug }}">
                                    {{ rs.urun.title }}
                                </a>
                            </td>
                            <td class="text-left">{{ rs.ay }}</td>
                            <td class="text-left">{{ rs.price }}</td>
                            <td class="text-left">{{ rs.amount}}</td>
                            <td class="text-left">{{ rs.status }}</td>
                            <td class="text-left">{{ rs.create_at }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT AREA END -->

</section>
<!-- End page content -->


{% endblock %}